header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.contenido {
  margin-top: 60px; /* Ajusta esto según el tamaño de tu encabezado */
  padding: 20px;
}