body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./images/image-body.jpeg);
  background-size: cover; /* Cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: static;

}

header h1 {
  margin: 0;
  padding-left: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

section#inicio {
  color: #f2f2f2;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

section#productos{
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}

section#productos .producto {
  margin-bottom: 20px;
  
}

section#productos .producto img {
  width: 150px;
  height: 150px;
  margin: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


