body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #32927a;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
  padding-left: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

section#inicio {
  background-color: #f2f2f2;
  text-align: center;
}

section#productos{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

section#productos .producto {
  margin-bottom: 20px;
  
}

section#productos .producto img {
  width: 150px;
  height: 150px;
  margin: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


